ArtStore/obj/Debug/netcoreapp3.1/staticwebassets/ArtStore.StaticWebAssets.Manifest.cache
ArtStore/obj/Debug/netcoreapp3.1/ArtStore.RazorTargetAssemblyInfo.cache
ArtStore/obj/Debug/netcoreapp3.1/ArtStore.pdb
ArtStore/obj/Debug/netcoreapp3.1/ArtStore.MvcApplicationPartsAssemblyInfo.cache
ArtStore/obj/Debug/netcoreapp3.1/ArtStore.genruntimeconfig.cache
ArtStore/obj/Debug/netcoreapp3.1/ArtStore.dll
ArtStore/obj/Debug/netcoreapp3.1/ArtStore.csproj.FileListAbsolute.txt
ArtStore/obj/Debug/netcoreapp3.1/ArtStore.csproj.CoreCompileInputs.cache
ArtStore/obj/Debug/netcoreapp3.1/apphost.exe
ArtStore/bin/Debug/netcoreapp3.1/ArtStore.runtimeconfig.json
ArtStore/bin/Debug/netcoreapp3.1/ArtStore.runtimeconfig.dev.json
ArtStore/bin/Debug/netcoreapp3.1/ArtStore.pdb
ArtStore/bin/Debug/netcoreapp3.1/ArtStore.exe
ArtStore/bin/Debug/netcoreapp3.1/ArtStore.dll
ArtStore/bin/Debug/netcoreapp3.1/ArtStore.deps.json
ArtStore/bin/Debug/netcoreapp3.1/appsettings.json
ArtStore/bin/Debug/netcoreapp3.1/appsettings.Development.json
ArtStore/.vs/ArtStore/config/applicationhost.config
